body {
  background-color: rgb(166, 174, 177);
  /* font-size: sans-serif; */
}

.container {
  /* border-top: 5px solid black; */
}

.Display-image1 {
}

.Display-image2 {
  float: right;
  /* display: flex; */
}

.main-header {
  /* border-top: 5px solid black; */
  background-color: rgb(124, 165, 176);
  /* padding: 1px; */
  /* height: 30px; */
  font-size: 21px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-left: 9px solid rgb(37, 49, 53);
  border-right: 9px solid rgb(37, 49, 53);
}

.form {
  background-color: rgb(124, 165, 176);
  border-top: 4px solid rgb(37, 49, 53);
  border-bottom: 4px solid rgb(37, 49, 53);
  width: 445px;
  margin: auto;
  position: relative;
}
